body {
    font-family: sans-serif;
    text-align: center;
}

#game-container {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    margin: 0 auto;
}

#shape {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    display: none;
    border-radius: 50%;
}

#start-button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
